@font-face {
  font-family: cute-font;
  src: url(font/Pacifico-Regular.ttf);
}

* {
  box-sizing: border-box;
  --LIGHT-YELLOW: #ffffcc; /* Customize properties here*/
  --DEEP-YELLOW: #d3be69;
  --MAX-CHAR-PER-ROW: 72ch;
  --BORDER-RADIUS-BIG: 1rem;
  --PADDING-BIG: 1rem;
  --FONT-BIG: 3rem; /* Default if media query not disabled */ /* @media */
  --FONT-MEDIUM: 1.5rem; /* @media*/
  --FONT-SMALL: 1.2rem; /* @media */
  --MAIN-WRAPPER-WIDTH: max(60%, var(--MAX-CHAR-PER-ROW)); /* @media */
}

/* Mobile display control */
@media screen and (max-width: 800px) {
  * {
    --FONT-BIG: 2rem;
    --FONT-MEDIUM: 1.2rem;
    --FONT-SMALL: 1rem;
    --MAIN-WRAPPER-WIDTH: 90%;
  }
}

:root {
  font-family: cute-font;
}

:root,
body {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--LIGHT-YELLOW);
  padding: var(--PADDING-BIG);
  border: solid red 3px;
}

div.main-wrapper {
  border: solid black 3px;
  border-radius: var(--BORDER-RADIUS-BIG);
  width: var(--MAIN-WRAPPER-WIDTH);
  height: 100%;
  padding: var(--PADDING-BIG);
  margin: 0 auto; /* Horizontal centering */
  background-color: var(--DEEP-YELLOW);
}

h1 {
  border: solid red 3px;
  margin: 0 auto;
  text-align: center;
  font-size: var(--FONT-BIG);
}
