@font-face {
  font-family: cute-font;
  src: url(font/Pacifico-Regular.ttf);
}

* {
  box-sizing: border-box;
  --LIGHT-YELLOW: rgba(168, 238, 5, 0.8); /* Customize properties here*/
  --DEEP-YELLOW: #2f5a06;
  --MEDIUM-YELLOW: rgba(196, 233, 110, 0.5);
  --DEEP-ORANGE: #5a4406;
  --MEDIUM-ORANGE: rgba(233, 204, 110, 0.5);
  --MAX-CHAR-PER-ROW: 72ch;
  --BORDER-RADIUS-BIG: 1rem;
  --PADDING-BIG: 1rem;
  --FONT-BIG: 3rem; /* Default if media query not disabled */ /* @media */
  --FONT-MEDIUM: 2rem; /* @media*/
  --FONT-SMALL: 1.2rem; /* @media */
  --MAIN-WRAPPER-WIDTH: max(60%, var(--MAX-CHAR-PER-ROW)); /* @media */
  --GRID-MINMAX: 200px; /*@media */
}

/* Mobile display control */
@media screen and (max-width: 800px) {
  * {
    --FONT-BIG: 1.5rem;
    --FONT-MEDIUM: 1.2rem;
    --FONT-SMALL: 1rem;
    --MAIN-WRAPPER-WIDTH: 90%;
    --PADDING-BIG: 0.3rem;
    --GRID-MINMAX: 150px;
  }
}

h1,
h2 {
  font-family: cute-font;
}

:root {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

:root,
body {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  width: 100vw;
  height: 100vh;
  padding: var(--PADDING-BIG);
  font-size: var(--FONT-SMALL);
}

body:before {
  /* For background with transparency that can be adjusted*/
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background-image: url("img/background.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  z-index: -1;
}

div.main-wrapper {
  border-radius: var(--BORDER-RADIUS-BIG);
  width: var(--MAIN-WRAPPER-WIDTH);
  height: 100%;
  padding: var(--PADDING-BIG);
  margin: 0 auto; /* Horizontal centering */
  backdrop-filter: blur(10px);
  background-color: rgba(168, 219, 74, 0.5);
  box-shadow: 0 0 30px rgba(78, 63, 21, 0.4);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.navbar-wrapper {
  color: #504a0694;
  margin: 0 auto;
  display: flex;
}

.navbar-wrapper > h1 {
  /* The title */
  margin: 0;
  display: inline-block;
  border-radius: var(--BORDER-RADIUS-BIG);
  font-size: var(--FONT-BIG);
  text-decoration: underline;
  margin-right: auto; /* Push the three buttons to right*/
  color: black;
}

a.repo-link {
  color: black;
}

.navbar-wrapper > nav {
  /* flex container for three buttons */
  display: flex;
}

.navbar-wrapper > nav > button {
  background-color: transparent;
  font-size: var(--FONT-MEDIUM);
  cursor: pointer;
  border: none;
}

.navbar-wrapper > nav > button > img {
  height: 1em;
}

/* Hover effects */
img.add {
  transition: transform 0.7s ease-in-out;
}

img.add:hover {
  transform: rotate(360deg);
}

nav.add-stats-info :not(:first-child) img:hover {
  transition: transform 0.3s ease-in-out;
  transform: scale(1.2);
}

.navbar-wrapper > nav > button:active {
  transform: scale(1.3);
}

/* Forms styling */
.form-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(0) translateX(-50%) translateY(-50%);
  transform-origin: top left;
  width: 450px;
  height: 450px;
  background-color: rgba(193, 240, 106, 0.3);
  border: solid var(--DEEP-YELLOW) 3px;
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 3px var(--LIGHT-YELLOW);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 10;
  transition: all 0.3s ease-in-out;
}

.form-wrapper.active {
  transform: scale(1) translateX(-50%) translateY(-50%);
}

.form-wrapper .form {
  width: 100%;
  padding: 40px;
}

.input-box {
  position: relative;
  height: 50px;
  width: 100%;
  border-bottom: 2px solid var(--DEEP-YELLOW);
  margin: 30px 0;
}

input {
  font-size: var(--FONT-SMALL);
  color: #2c2b2b;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  transition: 0.5s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -5px;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  padding: 0 35px 0 5px; /* Do not overflow */
}

.input-box .icon {
  position: absolute;
  right: 8px;
  line-height: 57px;
  color: var(--DEEP-YELLOW);
}

.btn {
  width: 100%;
  height: 45px;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: var(--FONT-SMALL);
  background-color: var(--DEEP-YELLOW);
  margin-top: 1rem;
}

.icon-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 45px;
  font-size: var(--FONT-MEDIUM);
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 20px;
  cursor: pointer;
  z-index: 1;
  background-color: var(--DEEP-YELLOW);
  color: var(--LIGHT-YELLOW);
}

.btn:hover,
.icon-close:hover {
  background-color: var(--LIGHT-YELLOW);
  color: var(--DEEP-YELLOW);
}

/* Overlay when popup */
#overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none; /* Allow all events */
}

#overlay.active {
  opacity: 1;
  pointer-events: all; /* Disable all events */
}

/* Shelf styling */
.library-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--GRID-MINMAX), 1fr));
  grid-gap: 10px;
}

.library-wrapper .book-tag-wrapper {
  padding: var(--PADDING-BIG);
  border-radius: var(--BORDER-RADIUS-BIG);
  display: flex;
  flex-direction: column;
  justify-content: center;
  aspect-ratio: 1 / 1;
  overflow: hidden;
}

.book-tag-wrapper .book-tag-title,
.book-tag-wrapper .book-tag-author {
  margin: 5px;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Two lines for the title */
  -webkit-box-orient: vertical;
  line-clamp: 2;
  box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.book-tag-wrapper .book-tag-pageNum {
  margin: 5px;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* Two lines for the title */
  -webkit-box-orient: vertical;
  line-clamp: 1;
  box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.book-tag-wrapper.progress-completed {
  background: var(--MEDIUM-YELLOW);
  box-shadow: 0 0 10px var(--DEEP-YELLOW);
}

.book-tag-wrapper.progress-uncompleted {
  background: var(--MEDIUM-ORANGE);
  box-shadow: 0 0 10px var(--DEEP-ORANGE);
}

/* Stats styling */
#stats-form {
  transform: scale(1) translateX(-50%) translateY(-50%);
}

.form-wrapper .stats-table {
  flex-grow: 1;
  border: solid red 3px;
  width: 90%;
}

.stats-table td {
  padding: var(--PADDING-BIG);
}

.stats-table tr :first-child {
  border: solid green 3px;
  width: 80%;
}

.stats-table tr :nth-child(2),
.stats-table .table-sum {
  text-align: right;
}
